%h1 Новый заказ на сайте mercedes77.ru

%p
  Уважаемый #{@order.first_name} #{@order.middle_name}, ваш заказ
  принят в обработку.
%p
  Номер заказа: #{@order.id}
%p
  Позиции:
- @order.positions.each do |pos|
  %p #{pos.name}[#{pos.serial}] x#{pos.count}
