.well{ 'ng-controller' => 'OrderEditCtrl'}
  .row
    .col-xs-10.col-xs-offset-1
      %h1
        Заказ №#{@order.id}
        %small.text-muted (#{@order.status})
  .row
    .col-xs-10.col-xs-offset-1
      %h2 Позиции
      %table.table.table-striped.bg-info
        %tr
          %th Деталь
          %th Номер
          %th Количество
          %th.text-center Положил
        - @order.positions.each do |pos|
          %tr
            %td= pos.item.name
            %td= pos.item.serial
            %td= pos.count
            %td.text-center
              - if rand() > 0.7
                %button.btn.btn-primary{ type: :button }
                  %span.fa.fa-check
              - else
                %span.text-success
                  %span.fa.fa-check

  .row
    .col-xs-10.col-xs-offset-1
      .btn-group{ 'dropdown' => true}
        %button.btn.btn-default{ 'dropdown-toggle' => true }
          Сменить статус
          %span.caret
        %ul.dropdown-menu
          %li{role: :menuitem, 'ng-repeat' => 'st in Statuses'}
            %a{'ng-href' => "/orders/#{@order.id}?order[status]={{st}}",
            'data-method' => 'PUT',
            'data-confirm' => "Сменить статус заказа с '#{@order.status}' на '{{st}}'?" }
              {{st}}

