.well{ 'ng-controller' => 'OrderEditCtrl'}
  .row
    .col-xs-10.col-xs-offset-1
      %span.pull-right
        Обратно в заказы
        %a.btn.btn-primary{href: orders_path}
          %span.fa.fa-arrow-left.fa-fw
      %h1
        Заказ №#{@order.id}
        %small.text-muted (СТАТУС: #{@order.status})
  .row
    .col-xs-10.col-xs-offset-1
      %h2 Позиции
      %table.table.table-striped.bg-info
        %tr
          %th Деталь
          %th Номер
          %th Количество
        - @order.positions.each do |pos|
          %tr
            %td= pos.item.name
            %td= pos.item.serial
            %td= pos.count

  .row
    .col-xs-10.col-xs-offset-1
      %h2 Доставка
      - if @order.pickup?
        %strong Самовывоз.
      - else
        %p= @order.address
        - if @order.notice
          %h3 Почта
          %p= @order.notice

  %br/
  .row
    .col-xs-10.col-xs-offset-1
      .btn-group{ 'dropdown' => true}
        %button.btn.btn-default{ 'dropdown-toggle' => true }
          Сменить статус
          %span.caret
        %ul.dropdown-menu
          %li{role: :menuitem, 'ng-repeat' => "st in Statuses | filter: '!#{@order.status}'"}
            %a{'ng-href' => "/orders/#{@order.id}?order[status]={{st}}",
            'data-method' => 'PUT',
            'data-confirm' => "Сменить статус заказа с '#{@order.status}' на '{{st}}'?" }
              {{st}}

