.well.col-xs-10.col-xs-offset-1{'ng-controller' => 'OrdersCtrl'}
  %center
    %h1 Оформление заказа

  .col-xs-8.col-xs-offset-2
    = simple_form_for(@order, html: { class: 'form-horizontal'}) do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :middle_name
      = f.input :phone, placeholder: '84991112233'
      = f.input :email, placeholder: 'somemail@example.com'
      = f.input :delivery_method, collection: Order::DELIVERY_METHODS, as: :radio_buttons, checked: true, item_wrapper_class: %i(radio-inline), input_html: { 'ng-model' => 'deliveryMethod' }
      .col-xs-12{ 'ng-if' => 'deliveryMethod && !(deliveryMethod === "Самовывоз")'}
        = f.input :address
        = f.input :notice
      %h3 Позиции
      %table.table.table-striped.bg-info
        %tr
          %th Наименование
          %th СН
          %th Количество

        %tr{ 'ng-repeat' => 'pos in positions'}
          %td {{ pos.name }}
          %td {{ pos.serial }}
          %td {{ pos.count }}

      - @order.positions.to_a.select {|p| not p.errors[:count].blank? }.each do |p|
        - item = p.item
        .alert.alert-danger
          %strong #{item.name}:
          требуется: #{p.count},
          доступно: #{item.count}

      .row
        .col-xs-5.col-xs-offset-7
          %span.pull-right
            %strong Итого:
            %span.fa.fa-rub
            &nbsp;
            %span.lead
              {{ calcTotal() }}
        .row
          .col-xs-12
            = f.submit 'Оставить заказ', class: %i(btn btn-primary btn-lg pull-right), 'ng-disabled' => 'isEmpty()'
        .row
          .col-xs-12
            .text-danger.pull-right{ 'ng-if' => 'isEmpty()'}
              %strong Нет позиций!
