.row.container-fluid#w_bar
  .col-xs-12.well
    %ul.nav.nav-pills.nav-justified{ 'ng-controller' => 'CatalogCtrl' }
      - %w(W163 W202 W203 W204 W211).each do |body|
        %li{ 'ng-class' => "{active: (selectedBody === '#{body}')}"}
          %a{href: '', 'ng-click' => "setBody('#{body}')"}= body
      %li{ 'ng-class' => "{ active: !selectedBody }" }
        %a{href: '', 'ng-click' => 'setBody(null)'} ВСЕ

.row.container-fluid.xs-double#catalog{'ng-controller' => 'CatalogCtrl'}
  .row{'ng-controller' => 'CategoriesCtrl', 'ng-cloak' => true}
    %aside.col-xs-6.col-md-3

      %center.well{ 'ng-controller' => 'SearchCtrl'}
        %h3 Поиск детали
        = render partial: 'shared/search'

      .well#catalog_list
        .row
          .col-xs-10.col-xs-offset-1.text-center
            - if admin?
              .col-xs-2.pull-right
                %br/
                %button.btn.btn-info{ type: :button, 'ng-click' => 'openNewDialog()'}
                  %span.fa.fa-plus
            %h3
              {{ selectedAvailable === "no" ? "Архив" : "Каталог" }}
              .btn-group{ 'is-open' => false, 'dropdown' => true}
                %span#catalog_list_filter_toggle{'dropdown-toggle' => true }
                  %span.caret
                %ul.dropdown-menu{ 'aria-labelledby' => 'catalog_list_filter_toggle' }
                  %li{ role: :menuitem}
                    %a{ href: '', 'ng-click' => 'setAvailable("yes")'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.available === 'yes'}"}
                      Каталог
                  %li{ role: :menuitem}
                    %a{ href: '', 'ng-click' => 'setAvailable("no")'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.available === 'no'}"}
                      Архив
        %br/
        .row
          %center{'ng-if' => '!ready'}
            %span.fa.fa-lg.fa-gear.fa-spin
          %ul.nav.nav-stacked.nav-pills
            %li{ 'ng-show' => 'categories.length',
            'ng-repeat' => 'cat in categories',
            'ng-class' => '{active: cat.current}'}
              %a{'ng-click' => 'changeCategory(cat.id)', href: ''} {{cat.name}}
              - if admin?
                %button.btn.btn-danger.btn-sm{ type: :button,
                  'ng-click' => 'delete(cat)',
                  'ng-if' => 'cat.item_count == 0' }
                  %span.fa.fa-trash-o
                %a{ href: '',
                  'ng-click' => 'openEditDialog(cat)'}
                  %small.text-info &nbsp;&nbsp;&nbsp;редактировать

    .col-md-9.col-xs-6
      .well#catalog_container{ 'ng-show' => 'showContainer' }
        .row
        %a.btn.btn-sm{'ng-click' => 'clearItem()', href: '', 'ng-show' => 'selectedItem && selectedCategory'}
          %span.small.text-primary
            %span.fa.fa-sm.fa-chevron-left
            Назад в категорию
            %strong &laquo;{{currentCategory.name}}&raquo;
        %div{ 'ng-show' => 'selectedItem' }
          %div{'ng-controller' => 'ItemCtrl'} 
            =render template: 'items/show', layout: false
        %div{ 'ng-if' => '!selectedItem'}
          .row
            .col-xs-9
              %h2
                Категория: {{currentCategory.name}}
                %span{'ng-if' => 'filters.body'}
                  \/&nbsp;{{selectedBody}}&nbsp;
                  %a.text-danger{'ng-click' => 'setBody(null)', 'href' => '' }
                    %span.fa.fa-times
                %span{'ng-if' => 'filters.available == "no"'}
                  \/&nbsp;нет на складе&nbsp;
                  %a.text-danger{'ng-click' => 'setAvailable("yes")', 'href' => '' }
                    %span.fa.fa-times
          %br/
          =render template: 'items/index', layout: false

      .row#catalog_empty{ 'ng-show' => '!showContainer' }
        .col-xs-12
          .carousel
            .carousel-inner
              %img.img-responsive{src: image_path('bg-lg.jpg')}
            .carousel-caption.top
              %h1 Mercedes177
              %h2 Оригинальные автозапчасти из Европы
              %small АВТОРАЗБОР
            .carousel-caption
              .col-xs-4.text-center
                %h3 Только оригинальные детали
              .col-xs-4.text-center
                %h3 Отличное состояние
              .col-xs-4.text-center
                %h3 Тёплый сухой склад


- content_for(:title) do
  = raw 'Авторазбор в Москве'
- content_for(:meta_description) do
  = raw 'Б/У и новые запчасти для автомобилей Mercedes'
