.row.page-heading
  .col-xs-10.col-xs-offset-1
    %h1 Каталог
.row
  .col-xs-10.col-xs-offset-1.well
    .row
      .col-xs-12.text-center
        %a.btn.btn-primary.btn-lg{href: '/catalog'}
          %strong Перейти в компактный каталог
      .col-xs-10.col-xs-offset-1{'ng-controller' => 'SearchCtrl'}
        %strong.lead Искать:
        = render partial: 'shared/search'
    .row
      .col-xs-10.col-xs-offset-1
        - @categories.each do |cat|
          %h2= cat.name
          %ul.list-group
            - @items.select { |it| it.category_id == cat.id }.each do |it|
              %li.list-group-item
                %a{href: "/catalog#?cat=#{cat.id}&item=#{it.id}"}
                  = it.name
                  %small.text-muted= it.serial
