.row.page-heading
  .col-xs-10.col-xs-offset-1
    %h1 Каталог
.row
  .col-xs-10.col-xs-offset-1.well
    .row
      %center.col-xs-10.col-xs-offset-1.col-md-3
        %br/
        %a.btn.btn-primary.btn-lg{href: '/catalog'}
          %strong Перейти в компактный каталог
      %center.col-xs-12.col-md-5{'ng-controller' => 'SearchCtrl'}
        %br/
        %span.col-xs-4.lead
          %strong Искать:
        .col-xs-8
          %input.form-control{ 'type' => 'text',
          'placeholder' => 'Начните вводить название или сер. номер',
          'ng-model' => 'query',
          'ng-focus' => 'getItems()',
          'typeahead' => 'item.name + " [с.н.:" + item.serial + "]" for item in items | filter:{$: $viewValue}',
          'typeahead-template-url' => '/templates/catalog/search_result'}
    .row
      .col-xs-10.col-xs-offset-1
        - @categories.each do |cat|
          %h2= cat.name
          %ul.list-group
            - @items.select { |it| it.category_id == cat.id }.each do |it|
              %li.list-group-item
                %a{href: "/catalog#?cat=#{cat.id}&item=#{it.id}"}
                  = it.name
                  %small.text-muted= it.serial
