.row.page-heading
  .col-xs-10.col-xs-offset-1
    %h1 Новый товар

.row
  .col-xs-8.col-xs-offset-1.well
    .row
      .col-xs-8.col-xs-offset-1
        - if @item.category_id
          %h2.col-xs-12.lead
            В категорию '#{@item.category.name}'
          %br/
        = simple_form_for @item, html: { class: 'form-horizontal'}, url: '/items.html' do |f|
          = f.input :name
          = f.input :serial
          = f.input :body
          = f.input :price
          = f.input :count, input_html: { value: 1}
          = f.input :description
          = f.input :notice, placeholder: "Информация о доставке и еще что-то, что напрямую не касается самой детали."
          = f.association :category
          = f.submit 'Создать', class: %i(btn btn-lg btn-primary)
          %br/
          %br/
          %small.alert.alert-warning
            %span.fa.fa-info
            &nbsp;
            Фотографии можно будет добавить на странице товара (перенаправит автоматически).
