.row{'ng-if' => 'item', 'ng-cloak' => true}
  = render partial: 'items/header'
.row{'ng-if' => 'item', 'ng-cloak' => true}
  .col-xs-5
    = render partial: 'items/photos'
  .col-xs-5.col-xs-offset-1
    - if admin?
      = render partial: 'items/dashboard_admin'
    - else
      = render partial: 'items/dashboard_user'

.row{'ng-if' => '!item'}
  = render partial: 'items/no_item'
