!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = title_tag
    = meta_description
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'data-no-turbolink' => (controller_name == 'catalog' && 'true')}
    .container-fluid
      .row
        %header.col-xs-12#header
          = render partial: 'shared/header'
      .row
        .col-xs-12#content
          = yield
      .row
        %footer.col-xs-12#footer
          = render partial: 'shared/footer'
