!!!
%html{ 'ng-app' => ng_app}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = title_tag
    = meta_description
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render file: 'layouts/_ga'
    = render file: 'layouts/_ym'
  %body{'data-no-turbolink' => (controller_name == 'catalog' && 'true')}
    .container-fluid
      .row
        %header.col-xs-12#header
          = render partial: 'shared/header'
      - if notice or alert
        .row
          .col-xs-10.col-xs-offset-1
            - if alert
              %br/
              .col-xs-12.alert.alert-danger.text-center
                %span.text-center.pull-left
                  %span.fa-stack.fa-lg
                    %span.fa.fa-square-o.fa-fw.fa-stack-2x
                    %span.fa.fa-exclamation.fa-fw.fa-stack-1x
                %span.lead.text-center= alert
                %span.text-center.pull-right
                  %span.fa-stack.fa-lg
                    %span.fa.fa-square-o.fa-fw.fa-stack-2x
                    %span.fa.fa-exclamation.fa-fw.fa-stack-1x
            - if notice
              %br/
              .col-xs-12.alert.alert-success.text-center
                %span.text-center.pull-left
                  %span.fa-stack.fa-lg
                    %span.fa.fa-square-o.fa-fw.fa-stack-2x
                    %span.fa.fa-info.fa-fw.fa-stack-1x
                %span.lead.text-center= notice
                %span.text-center.pull-right
                  %span.fa-stack.fa-lg
                    %span.fa.fa-square-o.fa-fw.fa-stack-2x
                    %span.fa.fa-info.fa-fw.fa-stack-1x
      .row
        .col-xs-12#content
          = yield
      .row
        %footer.col-xs-12#footer
          = render partial: 'shared/footer'
