!!!
%html{ 'ng-app' => ng_app}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = title_tag
    = meta_description
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'data-no-turbolink' => (controller_name == 'catalog' && 'true')}
    .container-fluid
      .row
        %header.col-xs-12#header
          = render partial: 'shared/header'
      - if notice or alert
        .row
          .col-xs-10.col-xs-offset-1
            - if alert
              %h4.alert.alert-danger.text-center= alert
            - if notice
              %h4.alert.alert-success.text-center= notice
      .row
        .col-xs-12#content
          = yield
      .row
        %footer.col-xs-12#footer
          = render partial: 'shared/footer'
